@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(212, 198, 187);
	color: #f0f0f0;
	line-height: 1.6;
}

ul {
	list-style: none;
}

.container {
	max-width: 550px;
	margin: 80px auto;
	padding: 20px;
}